<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="arrow_helloworld" frontName="arrow_helloworld">
            <module name="Arrow_HelloWorld" />
        </route>
    </router>
</config>